.rnd-planet-form{
    display: flex;
    background-color: rgba(75, 75, 75, 0.5);
    border-radius: 5px;
    margin: 5%;
}

.errImage{
    margin-left: 10%;
    width: 200px;
    height: 100px;
}

.rnd-planet-form .planet-image{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 40px;
}

.rnd-planet-form h2{
    margin: 30px;
    color: white;
    cursor: default; 
}

.info-list{
    cursor: default; 
}

.info-list li{
    list-style: none;
    height: 30px;
    font-size: large;
    border-top: 1px solid rgb(114, 114, 114);
    color: white;
}

.spinner {
    margin-left: auto;
    margin-right: auto;
}

.err-text{
    padding-top: 10%;
}