.person-form{
    display: flex;
    background-color: rgba(107, 107, 107, 0.3);
    border-radius: 5px;
    margin-right: 10%;
}

.person-form img{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.person-form h3{
    margin: 30px;
    color: white;
    cursor: default; 
}

.info-list{
    cursor: default; 
    margin-right: 10px;
}

.info-list li{
    list-style: none;
    height: 30px;
    font-size: large;
    border-top: 1px solid rgb(114, 114, 114);
    color: white;
}

.person-details {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 1px solid #444;
  }
  
  .person-details .person-image {
    width: 30%;
    height: 30%;
    border-radius: 10px;
  }
  
  .person-details .list-group-item {
    padding: .25rem;
  }
  
  .person-details .list-group-item .term{
    margin-right: .5rem;
  }