.item-list {
    margin-left: 10%;
    margin-top: 15px;
  }
  
  .item-list .list-group-item {
    cursor: pointer;
    color: white;
  }
  
  .item-list .list-group-item:hover {
    background-color: #444;
  }